@page
@model DigitalFashionSln.Pages.DropsModel
@{
}

<h1>Drops</h1>

<div class="row dropTile">
    <div class="col-md-4">
        <img class="" src="~/images/IMG_3751.jpg" style="width:100%">
    </div>
    <div class="col-md-8">
        <h3>Lorem ipsum dolor sit amet</h3>
        <div class="row">
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
        </div>
    </div>
</div>

<div class="row dropTile">
    <div class="col-xs-8 col-sm-8 col-md-8">
        <h3>Lorem ipsum dolor sit amet</h3>
        <div class="row">
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <img class="" src="~/images/IMG_3752.jpg" alt="" style="width:100%">
    </div>
</div>

<div class="row dropTile">
    <div class="col-md-4">
        <img class="" src="~/images/IMG_3753.jpg" style="width:100%">
    </div>
    <div class="col-md-8">
        <h3>Lorem ipsum dolor sit amet</h3>
        <div class="row">
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
        </div>
    </div>
</div>

<div class="row dropTile">
    <div class="col-xs-8 col-sm-8 col-md-8">
        <h3>Lorem ipsum dolor sit amet</h3>
        <div class="row">
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
            <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <img class="" src="~/images/IMG_3755.jpg" alt="" style="width:100%">
    </div>
</div>