@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="">
    <main role="main" class="pb-3">*@

    <h1 class="display-4">Welcome to Digital Fashion London</h1>
    <div class="homeImage">
            
        </div>

      @*  <div class="text-center" >
            <h1 class="display-4">Welcome to Digital Fashion London</h1>
            <img src="~/images/3.gif" alt="gif image" />
            <img class="" src="~/images/GIF-2022-05-05-15-34-40.gif" style="width:90%">
            <video id="VideoPlayer" src="~/videos/VIDEO-2022-05-05-15-34-21.mp4" controls width="450" height="350" loop />
        </div>*@

        

@*    </main>
</div>*@


