@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <main role="main" class="pb-3">
        <div class="text-center" style="background-color:#b39a95; height:100%; width:calc(100vw - 15px);">
            <h1 class="display-4">Welcome to Digital Fashion London</h1>
            @*<img src="~/images/3.gif" alt="gif image" />*@
            <img class="" src="~/images/IMG_3752.jpg" style="width:60%">
        </div>
    </main>
</div>


