@page
@model DigitalFashionSln.Pages.NewsModel
@{
}

<h1 class="text-center">News</h1>

<h3>Understanding Digital Fashion and its Future</h3>

<div>
    <p>
        Just like the name suggests, digital fashion entails the creation and application of virtual fashion
        products that do not exist in the real world. These creations are completed using 3D applications
        and applied on photos to bring out a deeper level of personality among other qualities. The
        results look real, stunning, and futuristic to say the least. Described as the future of the fashion
        industry, digital fashion has got many designers and brands rethinking their way of conducting
        business to stay in line with the evolution.

    </p>
</div>
<div style="margin-bottom:2em">
    <img src="~/images/IMG_3753.jpg" alt="gif image" class="text-center" style="max-width:80vw" />
</div>


<h3>London Leads the Way</h3>

<div>
    <p>
        London is one of the leading cities when it comes to consumption of digital fashion. The drivers
        of digital fashion London exploit imagination and creativity to bring out the best possibilities of
        digital fashion. This is always showcased in the London fashion week that is always alight with
        mesmerizing designs. Companies such as the Fabricant have taken to the stage to make it easier
        for designers and consumers to satisfy their interests. Similarly, the London College of Fashion is
        at the forefront, driving intensive research into possibilities of digital fashion. Students dig deep
        using various technologies in their dedicated Digital Anthropology lab. Here, the leaders
        encourage students to explore their imagination by advocating for experimentation. Digital
        fashion designers and learners in London will be an integral part of the unfolding future of
        fashion.


    </p>
</div>
<div style="margin-bottom:2em">
    <img src="~/images/IMG_3755.jpg" alt="gif image" class="text-center" style="max-width:80vw" />
</div>


<h3>When Two Worlds Co-exist</h3>

<div>
    <p>
        Digital fashion refers to clothing that does not entail any physicality at all. On the other hand,
        phygital fashion refers to a combination of both digital and physical fashion experiences. Key
        industry giants, such as Vogue, are keen on this futuristic forecast. One aspect of phygital is
        giving fashion pieces unique digital recognition, whereby a user can scan an ingrained QR code
        to enter a page carrying details about the item- fabrics, previous owners, its strongholds, and
        more. Many startup phygital companies are using technologies like Digital Twins and NFTS to
        run their phygital investments; let’s look at the role of NFTS in digital fashion.


    </p>
</div>
<div style="margin-bottom:2em">
</div>


<h3>The Role of NFTS (Non-fungible Tokens) in Digital fashion</h3>

<div>
    <p>
        According to Forbes, a NFT is
        a digital representation of a
        real, physical object as used in
        blockchain transactions. Used
        for unique identification,
        NFTs are a great way to sell
        and buy digital artwork. The
        technology is becoming
        increasingly useful when it
        comes to dealing with
        exclusive fashions, digital
        designs, and collections that
        are highly valuable and
        scarce, such as wearables.


    </p>
    <p>
        Technological integration into
        fashion will continue to open
        a new world of economic
        progression as the future of fashion unrolls. With digital fashion in place, the fashion industry is
        revolutionizing to find space in the upcoming metaverse. Many startups are leading the way as
        they concentrate on realizing new possibilities and remaining competitive. With technologies
        such as NFTs being brought into the picture, trading genuine masterpieces will be smoother than
        ever before. If you have not yet thought of trying digital fashion, it is the high time you tasted it.
        Chances are you will never look back.
    </p>
</div>

<div style="margin-bottom:2em">
    <img src="~/images/IMG_3759.jpg" alt="gif image" class="text-center" style="max-width:80vw" />
</div>

@*<div class="row dropTile">

    <div class="col-md-7">
    <h3>Lorem ipsum dolor sit amet</h3>
    <div class="row">
    <p>
    <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
    </p>
    <p>
    <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
    </p>
    <p>
    <span class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut fringilla felis. Quisque vitae consequat arcu, et ultricies nunc. Mauris ac eros quis quam venenatis rhoncus. Morbi sodales nunc vel nibh auctor, sit amet porta dui convallis. Integer interdum lacinia lorem a aliquam. Proin pretium ante id nunc accumsan interdum. Quisque accumsan, dolor nec convallis pellentesque, odio dui tincidunt eros, quis hendrerit urna mi eu arcu. Duis in finibus metus. Nunc nec metus nec lacus rhoncus pulvinar quis ut diam. Quisque ornare ante at leo vehicula, in condimentum nulla euismod. Duis eros dolor, semper at varius et, iaculis in elit.</span>
    </p>
    </div>
    </div>

    <div id="video-box" class="col-md-5">
    <div id="fade" style="display: none;"></div>

    <div class="interior-container">
    <h3 id="video-text">Lorem ipsum dolor sit amet</h3>
    <iframe width="365" height="205" name="player" id="player" src="https://www.youtube.com/embed/Ds5No1oiAX0?controls=1&wmode=opaque&enablejsapi=1" frameborder="0" allowfullscreen></iframe>

    <div class="vid-arrows prevvid">
    <i class="vid-prev icon-video-left-arrow"></i>
    </div>
    <div class="">
    <a target="player" data-text="Learn more about Accessibility" class="fader first active" href="#" id="default"></a>
    </div>

    <div class="vid-arrows nextvid">
    <i class="vid-next icon-video-right-arrow"></i>
    </div>
    </div>
    </div>
    </div>*@